<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">
<head>
<title>Deterge -  Laundry a Flat Bootstrap Responsive Website Template | Services :: w3layouts</title>
<!-- Meta-Tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Deterge Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //Meta-Tags -->
<!-- Custom-Stylesheet-Links -->
<!-- Bootstrap-CSS --> <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- Font-awesome-CSS --> <link href="css/font-awesome.css" rel="stylesheet">
<!-- Index-Page-CSS --><link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom-Stylesheet-Links -->
<!--web-fonts-->
<!-- Logo-font --><link href="//fonts.googleapis.com/css?family=Hind+Vadodara:300,400,500,600,700" rel="stylesheet">
<!-- Body-font --><link href="//fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
<!-- Headings-font --><link href="//fonts.googleapis.com/css?family=Cabin+Sketch:400,700" rel="stylesheet">
<!--//web-fonts-->
<!--//fonts-->
<!-- js -->
</head>
<body>
<!-- header -->
	<div class="inner-banner-w3layouts">
		<div class="demo-inner-content">
		<!--/header-w3l-->
		<div class="header-w3-agileits" id="home">
	<div class="w3-header-bottom">
		<div class="container"> 
				<h1><a href="index.html"><span class="letter">D</span>eterge<span class="square"></span></a></h1>	
			<div class="header-w3-top">
				<div class="agileinfo-phone">
				<div class="phone-wthree-left">
					
					<i class="fa fa-volume-control-phone" aria-hidden="true"></i>
					<p>Want a Launder...? <span>call us now!</span></p>
				</div>
				 <h2> +0 123 456 789</h2>
				</div>
			</div>
			<div class="top-nav">
						<nav class="navbar navbar-default">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
								</div>
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
									<li class="first-list"><a href="index.ejs">Home</a></li>
									<li><a href="about.ejs">About</a></li>
									<li><a class="active" href="services.ejs">Services</a></li>
									<li><a href="gallery.ejs">Gallery</a></li>
									<li class="dropdown">
										<a href="codes.ejs" class="dropdown-toggle" data-hover="Pages" data-toggle="dropdown">Pages <b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="icons.ejs">Icons</a></li>
											<li><a href="codes.ejs">Short Codes</a></li>
										</ul>
									</li>
									<li><a href="contact.ejs">Contact</a></li>
								</ul>	
								<div class="clearfix"> </div>
							</div>	
						</nav>		
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!--//header-w3l-->
		</div>
		   </div>
    </div>
  <!--/banner-section-->
<!-- services -->
	<div class="services">
		<div class="container">
			<div class="w3_agile_services_grids">
				<h4 class="tittles-w3agileits"><span>S</span>ervices</h4>
				<div class="col-md-4 w3_agile_services_grid">
					<div class="agile_services_grid">
						<div class="hover06 column">
							<div>
								<figure><img src="images/a1.jpg" alt=" " class="img-responsive" /></figure>
							</div>
						</div>
						<div class="agile_services_grid_pos">
							<i class="fa fa-spinner" aria-hidden="true"></i>
						</div>
					</div>
					<h4>Custom Dry Cleaning</h4>
					<p class="para-w3-agile">Suspendisse dapibus felis mauris, id efficitur lacus tincidunt id.</p>
				</div>
				<div class="col-md-4 w3_agile_services_grid">
					<div class="agile_services_grid">
						<div class="hover06 column">
							<div>
								<figure><img src="images/a3.jpg" alt=" " class="img-responsive" /></figure>
							</div>
						</div>
						<div class="agile_services_grid_pos">
							<i class="fa fa-shirtsinbulk i1" aria-hidden="true"></i>
						</div>
					</div>
					<h4>Finest Shirt service</h4>
					<p class="para-w3-agile">Suspendisse dapibus felis mauris, id efficitur lacus tincidunt id.</p>
				</div>
				<div class="col-md-4 w3_agile_services_grid">
					<div class="agile_services_grid">
						<div class="hover06 column">
							<div>
								<figure><img src="images/a2.jpg" alt=" " class="img-responsive" /></figure>
							</div>
						</div>
						<div class="agile_services_grid_pos">
							<i class="fa fa-users i1" aria-hidden="true"></i>
						</div>
					</div>
					<h4>Friendly customer service</h4>
					<p class="para-w3-agile">Suspendisse dapibus felis mauris, id efficitur lacus tincidunt id.</p>
				</div>
				<div class="col-md-6 w3_agile_services_grid">
					<div class="agile_services_grid">
						<div class="hover06 column">
							<div>
								<figure><img src="images/a4.jpg" alt=" " class="img-responsive" /></figure>
							</div>
						</div>
						<div class="agile_services_grid_pos">
							<i class="fa fa-magic" aria-hidden="true"></i>
						</div>
					</div>
					<h4>Wash & Fold Laundry Service</h4>
					<p class="para-w3-agile">Duis libero mi, accumsan eu elementum in, tempus quis tortor. Mauris a iaculis dolor. Nunc sagittis, metus vitae blandit fermentum</p>
				</div>
				<div class="col-md-6 w3_agile_services_grid">
					<div class="agile_services_grid">
						<div class="hover06 column">
							<div>
								<figure><img src="images/a5.jpg" alt=" " class="img-responsive" /></figure>
							</div>
						</div>
						<div class="agile_services_grid_pos">
							<i class="fa fa-gift" aria-hidden="true"></i>
						</div>
					</div>
					<h4>Delivery at the DoorStep!</h4>
					<p class="para-w3-agile">Duis libero mi, accumsan eu elementum in, tempus quis tortor. Mauris a iaculis dolor. Nunc sagittis, metus vitae blandit fermentum</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //services -->

<!-- services -->
<div class="services-w3-agileits w3agileits-ref">
		<div class="col-md-6  services-info services-info-bg">
			<h6>Customer who Sign Up for Weekly Service <span>Get $20 Off </span></h6>
			<p class="para-w3-agile">The first day dry cleaning order!</p>
					 <form action="#" method="post">		 
							<input type="email" class="text" required="" />
							<input type="submit" value="Go" />					 
				     </form>
					 <div class="clearfix"> </div>
		</div>
	<div class="col-md-6 services-left">
			<h3 class="sub-tittle-agileits">Our <span>B</span>est <span>S</span>ervices</h3>
			<div class="col-md-4 service-grids-w3ls">
				<i class="fa fa-shirtsinbulk i1" aria-hidden="true"></i>
				<div class="serv-rt-w3-agile">
					<h5>Dry Cleaning</h5>
					<p>Lorem ipsum dolor sit amet </p>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="col-md-4 service-grids-w3ls">
				<i class="fa fa-shopping-basket i2" aria-hidden="true"></i>
				<div class="serv-rt-w3-agile">
					<h5>Pressing</h5>
					<p>Lorem ipsum dolor sit amet </p>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="col-md-4 service-grids-w3ls">
				<i class="fa fa-magic i3" aria-hidden="true"></i>
				<div class="serv-rt-w3-agile">
					<h5>Laundry</h5>
					<p>Lorem ipsum dolor sit amet </p>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="col-md-4 service-grids-w3ls">
				<i class="fa fa-paper-plane-o i4" aria-hidden="true"></i>
				<div class="serv-rt-w3-agile">
					<h5>Pickup & Delivery</h5>
					<p>Lorem ipsum dolor sit amet </p>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
	</div>
	<div class="clearfix"></div>
</div>
<!--//services-->
<!--footer -->
	<div class="footer w3layouts">
		<div class="container">
			<div class="footer-row w3layouts-agile">
				<div class="col-md-3 footer-grids w3l-agileits">
					<h6><a href="index.html"><span class="f-letter">D</span>eterge<span class="f-square"></span></a></h6>
				</div>
				<div class="col-md-3 footer-grids w3l-agileits">
					<h3>Address</h3>
					<p>3745 Noriega St,</p>
					<p>San Francisco,</p>
					<p>CA 94122, USA.</p>
				</div>
				<div class="col-md-3 footer-grids w3l-agileits">
					<h3>Connect with us</h3>
					<div class="agileinfo-social-grids">
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-rss"></i></a></li>
							<li><a href="#"><i class="fa fa-vk"></i></a></li>
						</ul>
					</div>
					<div class="bottons-agileits-w3layouts">
						<a class="btn1-w3-agileits" href="#myModal2" data-toggle="modal"><i class="fa fa-sign-in" aria-hidden="true"></i>Login</a>.
						<a class="btn2-w3-agileits" href="#myModal3" data-toggle="modal"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Register</a>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-3 footer-grids w3l-agileits">	
					<h3>Questions....?</h3>
					<p>+0 123 456 789<p>
					<p><a href="mailto:info@example.com">mail@example.com</a></p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!--//footer-->	
<!-- copy-right -->
		<div class="copyright-wthree">
			<div class="container">
				<ul class="b-nav">
					<li><a href="#home">Home</a></li>
					<li><a href="about.html" >About</a></li>
					<li><a href="services.html">Services</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
				<p>&copy; 2017 Deterge . All Rights Reserved | Design by <a href="http://w3layouts.com/"> W3layouts </a></p>
			</div>
		</div>
<!-- //copy-right -->
<!-- modal -->
	<div class="modal about-modal w3-agileits fade" id="myModal2" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
				</div> 
				<div class="modal-body login-page "><!-- login-page -->     
									<div class="login-top sign-top">
										<div class="agileits-login">
										<h5>Login</h5>
										<form action="#" method="post">
											<input type="email" class="email" name="Email" placeholder="Email" required=""/>
											<input type="password" class="password" name="Password" placeholder="Password" required=""/>
											<div class="wthree-text"> 
												<ul> 
													<li>
														<label class="anim">
															<input type="checkbox" class="checkbox">
															<span> Remember me ?</span> 
														</label> 
													</li>
													<li> <a href="#">Forgot password?</a> </li>
												</ul>
												<div class="clearfix"> </div>
											</div>  
											<div class="w3ls-submit"> 
												<input type="submit" value="LOGIN">  	
											</div>	
										</form>

										</div>  
									</div>
						</div>  
				</div> <!-- //login-page -->
			</div>
		</div>
	<!-- //modal --> 
	<!-- modal -->
	<div class="modal about-modal w3-agileits fade" id="myModal3" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
				</div> 
				<div class="modal-body login-page "><!-- login-page -->     
									<div class="login-top sign-top">
										<div class="agileits-login">
										<h5>Register</h5>
										<form action="#" method="post">
											<input type="text" name="Username" placeholder="Username" required=""/>
											<input type="email"  name="Email" placeholder="Email" required=""/>
											<input type="password" name="Password" placeholder="Password" required=""/>
											<div class="wthree-text"> 
												<ul> 
													<li>
														<label class="anim">
															<input type="checkbox" class="checkbox">
															<span> I accept the terms of use</span> 
														</label> 
													</li>
												</ul>
												<div class="clearfix"> </div>
											</div>  
											<div class="w3ls-submit"> 
												<input type="submit" value="Register">  	
											</div>	
										</form>

										</div>  
									</div>
						</div>  
				</div> <!-- //login-page -->
			</div>
		</div>
	<!-- //modal --> 
	<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
 <!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
<!--js for bootstrap working-->
	<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
</body>
</html>